.root {
  min-width: -webkit-fill-available;
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #062343 70%),
    url(
  https://images.pexels.com/photos/1331696/pexels-photo-1331696.jpeg?auto=compress&cs=tinysrgb&
  );
  padding-top: calc(var(--mantine-spacing-xl));
  /* padding-bottom: calc(var(--mantine-spacing-xl) * 1); */
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.content {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}