.root {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  box-shadow: var(--mantine-shadow-md);
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
  background-image: linear-gradient(
    to right,
    var(--mantine-color-pink-filled),
    var(--mantine-color-orange-filled)
  );
}

.control {
  &::before {
    display: none;
  }
}

.label {
  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.loaderOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.segmentedControl {
  position: relative;
  display: inline-block;
  opacity: var(--opacity, 1);
  transition: opacity 0.2s ease;
}