.container {
    padding-top: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    cursor: pointer;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    }
}

.favorite {
    --ai-bg: transparent;
    --ai-hover: transparent;
    --ai-color: inherit;
    --ai-hover-color: inherit;
    background-color: transparent;
    color: inherit;
}

.favorite:hover {
    --ai-hover: none !important;
}

.favorite:hover span {
    background-color: transparent;
    color: inherit;
}

/* When NOT favorited - show IconStar by default, IconStarFilled on hover */
.favorite:not(.favorited) .iconHoverStar {
    display: none;
}

.favorite:not(.favorited):hover .iconDefaultStar {
    display: none;
}

.favorite:not(.favorited):hover .iconHoverStar {
    display: block;
    transform: scale(1.2);
}

/* When favorited - show IconStarFilled by default, IconStar on hover */
.favorite.favorited .iconDefaultStar {
    display: none;
}

.favorite.favorited .iconHoverStar {
    display: block;
}

.favorite.favorited:hover .iconDefaultStar {
    display: block;
    transform: scale(1.2);
    stroke: black;
}

.favorite.favorited:hover .iconHoverStar {
    display: none;
}